body {
    font-family: 'Mukta', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

.text-size {
    font-size: 60px;
    margin: 0% 20% 0% 20%;
    text-align: center;
    color: white;
    padding-top: 10%;
}

.top-banner-paragraph {
    font-size: 18px;
    margin: 1% 25% 4% 25%;
    text-align: center;
    color: white;
}

.button-text {
    font-size: 18px;
    margin: 1% 25% 4% 25%;
    text-align: center;
    color: white;
}

.donate-link {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 15px 30px;
    border-radius: 10px;
    color: white;
    font-weight: 700;
}

.top-banner {
    background-image: linear-gradient(to top, black, rgba(0, 0, 0, 0)), url(images/donation2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 650px;
}

#donation-instruction {
    color: rgba(0, 0, 0, 0.705);
    font-size: 18px;
    margin: 1% 25% 4% 25%;
    text-align: center;

}

.text-size2 {
    font-size: 50px;
    margin: 0% 20% 0% 20%;
    text-align: center;
    padding-top: 11%;
}

.amount-list {
    display: flex;
    list-style: none;
    text-align: center;
    margin-left: 19%;
    margin-top: 6%;
}

.donate-amount {
    padding: 2% 3%;
    font-size: 28px;
    color: rgba(0, 0, 0, 0.836);
    font-weight: 1000;
}

.color-amount {
    color: rgb(231, 97, 97);
    border-style: solid;
    border-radius: 5px;
    padding-top: 10px;
    background-color: rgba(224, 117, 117, 0.185);
    padding: 2% 3%;
    font-size: 28px;
    font-weight: 1000;

}

#custom-ammount {
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    padding: 0px 170px 2px 290px;
    margin-left: 22%;
    border-color: rgba(0, 0, 0, 0.26);
    font-size: 25px;
}

#second-donate-link {
    color: rgba(0, 0, 0, 0.103);
}

.donate-button {
    margin: 50px 0px 0px;
    font-size: 18px;
    margin: 3% 25% 4% 25%;
    text-align: center;
}

.flex-container {
    display: flex;
    list-style: none;
    text-align: left;
    margin-left: 10%;
    margin-top: 6%;
    margin-right: 10%;

}

.blog-paragraph {
    color: rgba(0, 0, 0, 0.692);
}

.food {
    background-color: rgba(80, 247, 247, 0.116);
    padding: 8% 1% 3% 2%;
    margin: 0px 0px 20px;
    border-radius: 5px;
}

.shelter {
    background-color: rgba(248, 66, 239, 0.096);
    padding: 8% 1% 3% 2%;
    margin: 0px 20px 20px;
    border-radius: 5px;
}

.education {
    background-color: rgba(252, 255, 49, 0.116);
    padding: 8% 3% 3% 2%;
    margin: 0px 0px 20px;
    border-radius: 5px;
}

h4 {
    font-size: 23px;
    font-weight: 1000;
}

.first-container {
    display: flex;
    padding-top: 100px;
    margin-left: 10%;
}

.first-container img {
    width: 90%;
}

h3 {
    font-size: 40px;
}

.cointainer-paragraph {
    color: rgba(0, 0, 0, 0.685);
    margin-right: 10%;
}

.container-button-one {
    margin-top: 50px;
}

.container-image {
    margin-top: 45px;
}

.second-container {
    margin-left: 9%;
}

.container-image-two {
    width: 145%;
}

#center {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    padding-top: 5%;
}

.form-section {
    background-color: rgba(230, 211, 104, 0.397);
    padding: 4.5% 0% 4.5% 15%;
    border: none;
    outline: none;
    margin-left: 20%;
    margin-right: 22%;
    margin-bottom: 10%;
    border-color: rgba(0, 0, 0, 0.26);
    font-size: 25px;
    border-radius: 10px;
}

#email {
    outline: none;
    border: 4px;
    color: rgb(136, 192, 189);
    background-color: rgba(136, 131, 123, 0.705);
    padding: 15px 50px;
    border-radius: 5px;
    font-size: 20px;
}

#subscribe {
    outline: none;
    border: 4px;
    background-color: rgba(238, 70, 70, 0.829);
    padding: 15px 50px;
    font-size: 20px;
    border-radius: 5px;

}

span {
    font-family: 'Courier New', Courier, monospace;
    color: red;
}

.footer-size {
    text-align: center;
}

.footer-text {
    color: white;
}

footer {
    background-color: black;
}